@{
	ViewBag.Title = "LoginFail";
}

<div class="banner-main">
	<div class="container">
		<h1><span class="home-logo rounded-50x"><i class="ca-gov-icon-capitol"></i></span>&nbsp;Accessibility Exposure & Impact Score (AEIS)</h1>
	</div>
</div>
<main class="main-primary">
	<!-- Begin Main Content -->
	@using (Html.BeginForm("LoginCheck", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
	{
		@Html.ValidationSummary(false, "", new { @class = "" })
		<div class="col-md-12 row m-t">
			<div class="col-md-1">
			</div>
			<div class="col-md-10 text-center">
				With limited resources and a large inventory, it can be hard to determine which system(s) to evaluate first. To help departments identify which systems should be evaluated first, the Access IT team developed Accessibility Exposure & Impact Score (AEIS).
			</div>

			<div class="row col-md-1">
			</div>
		</div>
		<div class="row p-b-md">
			<div class="offset-quarter half">
				<section id="loginForm" class="section-understated p-a-lg shadow">

					<!--Form states-->
					<div id="email-box" class="form-group m-b-md">
						<div class="input-group">
							<div class="input-group-addon d-flex">
								<i class="ca-gov-icon-person"></i>
							</div>
							<input id="email" class="form-control" type="text" name="userName" placeholder="Enter Your Email">
						</div>

						<div class="input-group m-t-md">
							<div class="input-group-addon d-flex">
								<i class="ca-gov-icon-key"></i>
							</div>
							<input id="password" class="form-control" type="password" name="password" placeholder="Enter Your Password">
						</div>
						<div class="input-group m-t-md">
							<div class="d-flex" style="color:red">
							Invalid Email or Password	
							</div>
						</div>


						<small id="email-feedback" class="feedback" style="display:none">Email not registered, please register to continue.</small>
					</div>
					<div class="row">
						<div class="half">
							<label class="form-check-inline p-l-md m-l-0 m-r-md">
								<input class="hidden-up pos-abs" type="checkbox">
								<i class="check-icon-checkbox">
									<i class="ca-gov-icon-check-mark"></i>
								</i>

								Remember me
							</label>

						</div>
						<div class="half">
							<a href="#" class="pull-right">Forgot your password?</a>
						</div>
					</div>
					<div class="row m-t-md m-b-md text-center">
						<div class="col-sm-offset-2 col-sm-8">
							<input type="submit" value="Log in" class="btn btn-lg btn-primary full-width" />
						</div>
					</div>

					<div class="row m-t-md text-center">
						<small>Not registered yet?</small>
					</div>
					<div class="row m-t text-center">
						<a href="~/Home/Registration" class="btn btn-default">Register</a>
					</div>

				</section>
			</div>
			<div class="col-md-12 row m-t">
				<div class="col-md-1">
				</div>
				<div class="col-md-10 text-center">
					To provide departments with a quick and easy way to prioritize their existing systems for accessibility and usability testing, the Access IT team created the AEIS Scoresheet. Using the scoresheet, department staff will answer a short set of "Yes/No" questions. After answering all the questions a score (out of 100) signifying the impact significance of the system will be provided. A higher score means that the system has a greater risk for accessibility issues. A sorted listing of the scores will identify which systems should be evaluated first.
				</div>
				<div class="col-md-1">
				</div>
			</div>
			<div class="col-md-12 row m-t">
				<div class="col-md-1">
				</div>
				<div class="col-md-10 text-center" background-color="lightblue">
					AEIS is a technology-agnostic evaluation that focuses on the purpose of a system, the services that it provides to citizens, and impact to work performed by State staff. AEIS also takes modernization efforts and State/Federal mandates into consideration. By focusing on these factors, AEIS highlights systems that have the largest impact to the population.
				</div>
				<div class="col-md-1">
				</div>
			</div>
		</div>
	}
	<!-- End Main Content -->
</main>