<connectionStrings>
	<add name="DBAContext" connectionString="Data Source = aeisdb.database.windows.net; Initial Catalog = AEISdb; Integrated Security = False; User Id = NRaymond; Password = Bestgroup[0]; Encrypt = True; TrustServerCertificate = False; MultipleActiveResultSets = True" providerName="System.Data.SqlClient" />
	<add name="DBUContext" connectionString="Data Source = aeisdb.database.windows.net; Initial Catalog = AEISdb; Integrated Security = False; User Id = NRaymond; Password = Bestgroup[0]; Encrypt = True; TrustServerCertificate = False; MultipleActiveResultSets = True" providerName="System.Data.SqlClient" />
</connectionStrings>