<connectionStrings>
	<add name="DBAContext" connectionString="Data Source = aeis.database.windows.net; Initial Catalog = AEIS; Integrated Security = False; User Id = matthewswart; Password = MattSwart69; Encrypt = True; TrustServerCertificate = False; MultipleActiveResultSets = True" providerName="System.Data.SqlClient" />
	<add name="DBUContext" connectionString="Data Source = aeis.database.windows.net; Initial Catalog = AEIS; Integrated Security = False; User Id = matthewswart; Password = MattSwart69; Encrypt = True; TrustServerCertificate = False; MultipleActiveResultSets = True" providerName="System.Data.SqlClient" />
</connectionStrings>