<connectionStrings>
	<add name="DBAContext" connectionString="Server=tcp:aeis1.database.windows.net;Initial Catalog=aeis1;Integrated Security=False;User Id=aeisadmin;Password=Aeis123456;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	<add name="DBUContext" connectionString="Server=tcp:aeis1.database.windows.net;Initial Catalog=aeis1;Integrated Security=False;User Id=aeisadmin;Password=Aeis123456;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>