@model StateTemplateV5Beta.ViewModels.SecurityVM
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section">
    <div class="container">

        <h1>About AEIS</h1>
        <p>
            With limited resources and a large inventory, it can be hard to determine which system(s) to 
            evaluate first. To help departments identify which systems should be evaluated first, the Access 
            IT team developed Accessibility Exposure & Impact Score (AEIS).The California State Template is 
            an open source web template and  standard offered by the California Department of Technology to 
            state agencies and departments within the State of California and beyond. 
        </p>

        <p>
            To provide departments with a quick and easy way to prioritize their existing systems for 
            accessibility and usability testing, the Access IT team created the AEIS Scoresheet. Using the 
            scoresheet, department staff will answer a short set of "Yes/No" questions. After answering all 
            the questions a score (out of 100) signifying the impact significance of the system will be provided. 
            A higher score means that the system has a greater risk for accessibility issues. A sorted listing of 
            the scores will identify which systems should be evaluated first.
        </p>

        <p>
            AEIS is a technology-agnostic evaluation that focuses on the purpose of a system, the services that 
            it provides to citizens, and impact to work performed by State staff. AEIS also takes modernization 
            efforts and State/Federal mandates into consideration. By focusing on these factors, AEIS highlights 
            systems that have the largest impact to the population.
        </p>

        <p>&nbsp;</p>

    </div>
</div>

