@model StateTemplateV5Beta.ViewModels.AccountVM
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // TODO: ACCOUNT - on submit button press verify info / change db info
}

<div class="section">

    <h1>Account Settings</h1>
    <!-- Account Information -->
    <div class="panel panel-primary">
        <div class="panel-heading"><h2>Account Information</h2></div>
        <div class="row p-t p-l-md">
            <label>First Name</label><br />
        </div>
        <div class="row p-l-md">
            <input type="text" style="width:250px" value="@Model.FirstName" id="first-name" name="firstName" tabindex="1">
        </div>
        <div class="row p-t p-l-md">
            <label>Last Name</label>
        </div>
        <div class="row p-l-md">
            <input type="text" style="width:250px" value="@Model.LastName" id="last-name" name="lastName" tabindex="2">
        </div>
        <div class="row p-t p-l-md">
            <label>Organization</label>
        </div>
        <div class="row p-b p-l-md">
            <input type="text" style="width:250px" value="@Model.Organization" id="org" name="organization" tabindex="3">
        </div>
    </div> <!-- end account container -->
    <!-- Change Password -->
    <div class="panel panel-primary">
        <div class="panel-heading"><h2>Change Password</h2></div>
        <div class="row p-t p-l-md">
            <label>Current password</label>
        </div>
        <div class="row p-l-md">
            <input type="password" style="width:250px" placeholder="Current password" id="current-password" name="currentPassword" tabindex="4">
        </div>
        <div class="row p-t p-l-md">
            <label>New password</label>
        </div>
        <div class="row p-l-md">
            <input type="password" style="width:250px" placeholder="New password" id="new-password" name="newPassword" tabindex="5">
        </div>
        <div class="row p-t p-l-md">
            <label>Reenter password</label>
        </div>
        <div class="row p-b p-l-md">
            <input type="password" style="width:250px" placeholder="Reenter password" id="reenter-password" name="reenterPassword" tabindex="6">
        </div>
    </div> <!-- end password container -->

    <!-- TODO: put modified information into database on button press -->
    <input type="submit" value="Save Changes" class="btn btn-lg btn-primary" onclick="window.location.href='/Home/Inventory'" />.

</div> <!-- end section -->