@model StateTemplateV5Beta.ViewModels.InventoryVM
@{
    ViewBag.Title = "ChartAnalysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h1 {
        padding: 0px;
        margin: 0px;
    }
</style>

<div class="section">
   
    <row class="container">
        @using (Html.BeginForm("ChartAnalysis", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
        <row m-b-sm>
            <div class="col-lg-9"><h1>AEIS Inventory Chart Analysis</h1></div>
            <div class="col-lg-3">
                <label>Number of Systems on Chart</label>
            </div>
        </row>
        <row p-l-md>
            <div class="col-lg-9"></div>
            <div class="col-lg-3">
                <input type="text" name="numOfSystems" value="@Model.Systems.Length" tabindex="1">
            </div>
        </row>
        }
        <!-- TODO: pass model to GetChart -->
        <div class="row" style="text-align:center">
            <img src="/Chart/GetChart" />
        </div>
    </row>
</div>