@model StateTemplateV5Beta.ViewModels.InventoryVM
@{
    ViewBag.Title = "ChartAnalysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">

    <h1>AEIS Inventory Chart Analysis</h1>
    <div class="container">
        <row>
            <img src="/Chart/GetChart" />
        </row>
    </div>
</div>