@model StateTemplateV5Beta.ViewModels.VMP
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">

    <h1>Password Asssistance</h1>
    <div class="row p-b-md">
        <div class="offset-quarter half">
            <section id="loginForm" class="section-understated p-a-lg shadow">

                <h4>Enter the email address associated with your account.</h4>
                <!-- TODO: add "Password email sent. Please check your email." popup after button is pressed -->
                <div id="email-box" class="form-group m-b-md">
                    <div class="input-group">
                        <div class="input-group-addon d-flex">
                            <i class="ca-gov-icon-person"></i>
                        </div>
                        <input id="email" class="form-control" type="text" name="userName" placeholder="Enter Your Email">
                    </div>

                    <!-- TODO: add sending of recovery email on button press -->
                    <div class="row m-t-md m-b-md text-center">
                        <div class="col-sm-offset-2 col-sm-8">
                            <input type="submit" value="Retrieve Password" class="btn btn-lg btn-primary full-width" onclick=""/>
                        </div>
                    </div>
                </div>

            </section>
        </div> <!-- end offset -->
    </div> <!-- end row -->
</div> <!-- end section -->