@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Questions";
    var question = new StateTemplateV5Beta.Models.Question();
    var qcontroller = new StateTemplateV5Beta.Controllers.QuestionsController();
    var answer = new StateTemplateV5Beta.Models.Answer();
    var acontroller = new StateTemplateV5Beta.Controllers.AnswersController();
    var user = new StateTemplateV5Beta.Models.User();
    var ucontroller = new StateTemplateV5Beta.Controllers.UsersController();
    question = qcontroller.GetQ(1);
}
    

    
<h2>@question.Text</h2>

