
@{
    ViewBag.Title = "TextAnalysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">

    <h1>AEIS Inventory Text Analysis</h1>
    <p>
        AEIS analysis was performed on the submitted inventory.<br />
        Below is the scoring results for the top 6 systems in descending order.
    </p>
    <p> 
        Score #1 given to '/name/' with an AEIS of ##.<br />
        Scoring breakdown for '/name/' is as follows:<br />
        ## points for 'Public Services'<br />
        ## points for 'Internal Services'<br />
        ## points for 'Accessibility Testing'<br />
        ## points for 'Life Span'
    </p>

</div>

