
@{
    ViewBag.Title = "TextAnalysis";
    Layout = "~/Views/Shared/_Layout.cshtml";

    /*
    var ucontroller = new StateTemplateV5Beta.Controllers.UsersController();
    var acontroller = new StateTemplateV5Beta.Controllers.AnswersController();
    */

    var numOfSystems = 6;
    var numOfSections = 4;
    var systemName = "SYSTEM_NAME";
    var totalScore = "TOTAL_SCORE";
    string[] sectionNames = new string[4] { "Public Services", "Internal Services", "Accessibility", "Life Span" };
    var sectionScore = "SECTION_SCORE";
    // TODO: TEXT ANALYSIS - populate with info from db
    // TODO: TEXT ANALYSIS - add adjustment for how many systems are displayed (possibly a dropdown list w/ numbers 2-10?)
}

<div class="section">

    <h1>AEIS Inventory Text Analysis</h1>
    <p>
        AEIS analysis was performed on the submitted inventory.<br />
        Below is the scoring results for the top @numOfSystems systems in descending order.
    </p>

    @for (int i = 1; i <= 6; i++)
    { 
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>#@i - @systemName - AEIS Score: @totalScore</h3></div>
            <div class="panel-body">
                Score #@i given to @systemName with an AEIS of @totalScore. <br />
                Scoring breakdown for '@systemName' is as follows:<br />

                @for(int j = 0; j < numOfSections; j++)
                {
                    <div>@sectionScore points for '@sectionNames[j]'<br /></div>
                }
            </div>
        </div>
    }
</div> <!-- end section -->

