
@{
    ViewBag.Title = "TextAnalysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--test-->
<div class="section">

    <h1>AEIS Inventory Text Analysis</h1>
    <p>
        AEIS analysis was performed on the submitted inventory.<br />
        Below is the scoring results for the top 6 systems in descending order.
    </p>
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>#1 - MyMedical 2.0 - AEIS Score: 94</h3></div>
        <div class="panel-body">
            Score #1 given to MyMedical 2.0 with an AEIS of 94. <br>
            Scoring breakdown for 'MyMedical 2.0' is as follows:<br />
            28 points for 'Public Services'<br />
            22 points for 'Internal Services'<br />
            11 points for 'Accessibility Testing'<br />
            33 points for 'Life Span'<br />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>#2 - Project CALculate - AEIS Score: 81</h3></div>
        <div class="panel-body">
            Score #2 given to Project CALculate with an AEIS of 81. <br>
            Scoring breakdown for 'Project CALculate' is as follows:<br />
            28 points for 'Public Services'<br />
            9 points for 'Internal Services'<br />
            11 points for 'Accessibility Testing'<br />
            33 points for 'Life Span'<br />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>#3 - MyCalTravel - AEIS Score: 78</h3></div>
        <div class="panel-body">
            Score #3 given to  MyCalTravel with an AEIS of 78. <br>
            Scoring breakdown for ' MyCalTravel' is as follows:<br />
            17 points for 'Public Services'<br />
            11 points for 'Internal Services'<br />
            22 points for 'Accessibility Testing'<br />
            28 points for 'Life Span'<br />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>#4 - iTracker Online - AEIS Score: 74</h3></div>
        <div class="panel-body">
            Score #4 given to iTracker Online with an AEIS of 74. <br>
            Scoring breakdown for 'iTracker Online' is as follows:<br />
            33 points for 'Public Services'<br />
            11 points for 'Internal Services'<br />
            2 points for 'Accessibility Testing'<br />
            28 points for 'Life Span'<br />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>#5 - Construction Manager - AEIS Score: 72</h3></div>
        <div class="panel-body">
            Score #5 given to Construction Manager with an AEIS of 72. <br>
            Scoring breakdown for 'Construction Manager' is as follows:<br />
            33 points for 'Public Services'<br />
            11 points for 'Internal Services'<br />
            22 points for 'Accessibility Testing'<br />
            6 points for 'Life Span'<br />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>#6 - DataShare Pub - AEIS Score: 66</h3></div>
        <div class="panel-body">
            Score #6 given to DataShare Pub with an AEIS of 66. <br>
            Scoring breakdown for 'DataShare Pub' is as follows:<br />
            27 points for 'Public Services'<br />
            11 points for 'Internal Services'<br />
            22 points for 'Accessibility Testing'<br />
            6 points for 'Life Span'<br />
        </div>
    </div>

</div> <!-- end section -->

