@model StateTemplateV5Beta.Models.QuestionViewModel
@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_Layout.cshtml";



}


    
<div class="section">
@using (Html.BeginForm("Page1", "Survey", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary(false, "", new { @class = "" })

    <div class="form-group">
        <label class="control-label">
            @Html.LabelFor(x => x.Name)
        </label>
        <div class="controls">

            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @title = "Fill out the surevy name", @required = "" })
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" id="submitButton" class="btn btn-block btn-primary">
            Next
        </button>
    </div>
}

</div>