@model StateTemplateV5Beta.ViewModels.QuestionVM
@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<div class="section">
    <div class="offset-quarter half">

        @using (Html.BeginForm("StartSurvey", "Survey", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "" })

            <div style="text-align:center">
                <label class="control-label">
                    @Html.LabelFor(x => x.Name)
                </label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @title = "Fill out the survey name", @required = "" })
                </div>
            </div>

            <div>

                <input type="hidden" name="actives" value=@Model.Active.ID />
                <input type="hidden" name="activeLog" value=@Model.Active.IsLoggedIn.ToString() />
                <input type="hidden" name="activeRem" value=@Model.Active.Remember.ToString() />
            </div>

            <div class="form-actions">
                <button type="submit" id="submitButton" class="btn btn-block btn-primary">
                    Next
                </button>
            </div>
        }

    </div>
</div>