@model StateTemplateV5Beta.Models.SummaryViewModel

@{
    ViewBag.Title = "SurveyQuestions";
}

<div class="section">
    <div class="offset-quarter half">
        <h1 class="text-center">Summary for @Model.ProgramName </h1>

        <div style="text-align:left">
            Total Point: @Model.Points
           <p>
               Lifespan:
            </p> 
            <p>
                blah..
            </p>
            </div>

        </div>
    </div>





